# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependencies
**/node_modules
jspm_packages/
/.pnp
.pnp.js
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Spring
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/
application-dev.properties

# Coverage directory used by tools like istanbul
coverage
/coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
**/.env

# next.js build output
.next

# production
/build
**/dist/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
HELP.md

# IntelliJ
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/