#search-form {
    display: flex;
}

input[type=text] {
    font-size: 16px;
    flex: auto;
    width: auto;
    padding: 6px;
    border: 1px solid #ccc;
}

#search-form button {
    font-size: 17px;
    width: auto;
    padding: 6px;
    border: none;
    background: #ddd;
}

.invalid-search-alert {
    font-size: large;
    padding: 12px;
    color: white;
    background-color: #f44336;
}

.closebtn {
    font-size: 22px;
    font-weight: bold;
    line-height: 15px;
    float: right;
    margin-left: 15px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.closebtn:hover {
    color: black;
}