.tracklist {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-left: 3vw;
}

.tracklist__row {
    display: flex;
    align-items: center;
}

.tracklist__row_button-group {
    display: none;
}

.tracklist__row:hover, .tracklist__row_button-group {
    display: inline-flex;
}
