.header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    height: 3.5vh;
    background-color: #32383e;
}

.nav-link {
    font-size: calc(10px + 1vmin);
    font-weight: 550;
    line-height: 40px;
    margin: 0 8px 0 16px;
    text-decoration: none;
    color: white;
}

.app-logo {
    height: 3vh;
    margin: 6px 0 6px 16px;
    pointer-events: none;
}

/*
  animation-duration: 1 common time measure at 128bpm
  duration of 1 measure = (4 beats * 60s) / (128 bpm)
*/
@media (prefers-reduced-motion: no-preference) {
    .app-logo {
        animation: app-logo-spin infinite linear;
        animation-duration: 1875ms;
    }
}

@keyframes app-logo-spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(40deg);
    }
    100% {
        transform: rotate(0deg);
    }
}